    <div class="first-block">
        <div class="top-image">
        </div>
        <div class= "about-1"> 
            <p><b>ここにはあなたを否定する人は人はいません</b><br>
            何かとストレスが溜まりやすい現代なので、悩んでいる人や疲れている人の逃げ場として
            現代の駆け込み寺のようなSNSを作りました
            </p>
            <%= link_to "みんなのお悩みをみる", posts_path %>
        </div>
    </div>

    <div class="second-block">
        <div class= "about-2">
            <p><b>あなたの悩みを吐き出しましょう</b><br>
            一人で抱えている不安や悩みを吐き出してみましょう。
            誰かに話すだけでも少し肩の荷が降りるかもしれません</p>
            <%= link_to "お悩みを相談する", new_post_path %>
        </div>
        <div class="middle-image">
        
        </div>


    </div>
    <div class= "third-block">
        <div class="bottom-image">
        </div>
        <div class= "about-3">
            <p><b>ポジティブな感情も吐き出しましょう</b><br>
            今日のできたこと、嬉しかったこと、褒められたことなど些細なことでもいいので
            書き出して自己肯定感をあげましょう！
            </p>
            <%= link_to "ポジティブ日記を書く", diaries_path %>
        </div>
    </div>

